h1 {
    background: lightskyblue;
    height: 150px;
    width: 150px;
}

h2 {
    background: purple;
    width: 150px;
}

a {
    background: lime;
}

.box-1 {
    width:200px;
    height: 200px;
    background: lime;
    padding: 10px;
    border: 10px solid red; /* Sus dimensiones cuentan para el tamaño total */ 
    margin: 20px;
    outline: 10px solid blue; /* Sus dimensiones no cuentan para el tamaño total */ 
}

.box-2 {
    width:200px;
    height: 200px;
    background: lightcoral;
}

.box1 {
    width:200px;
    height: 200px;
    background: lime;
    /* margin: 1rem 2rem 3rem 4rem; */ 
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
}

.box2 {
    width:200px;
    height: 200px;
    background: salmon;
    border: 2px solid blue;
    /* padding: 1rem 2rem 3rem 4rem; */
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
}

.box2-content {
    width: 20px;
    height: 20px;
    background: yellow;
    border: 2px solid red;
}

/*
Border

border-width
    px|em|rem|%|...

border-style 
    none|hidden|dotted|dashed|solid|double|groove|ridge|insert|outset|initial|inherit

    *Estas medidas dependen del navegador*
    thick (ancho)
    medium (medio)
    thin (fino)

border-color
    css native|rgb|rgba|hs1|hs1a|hexadecimal|transparent


*/

.border-1, .border-2 {
    width: 200px;
    height: 200px;
    margin: 2rem;
}

.border-1 {
    background: yellowgreen;
    border: 10px solid orange;
    border-top: none;
}

.border-2 {
    background: lightgreen;
    border-left-width: 5px;
    border-left-style: double;
    border-left-color: blue;

}